.cover {
  @extend .center-image;
  @extend .center-flex;
  background-image: url(../images/feature.jpg);
  height: 100vh;
  &__content {
    text-align: center;
  }

  &__catergory-list {
    li {
      display: inline-block;
    }
    a {
      @extend .expand;
      color: #fff;
      text-decoration: none;
      padding: 0 10px;
      text-transform: uppercase;
      text-shadow: 1px 1px $text-shadow;
    }
  }

  &__footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

}

.home .social {
  padding-bottom: 15px;
  padding-right: 20px;
}
