.portfolio {
  display: flex;
  flex-wrap: wrap;
  &__item {
    @extend .center-image;
    flex: 1 1 25%; // make a grid pattern for this
    height: calc(50vh - 25px);
    &:nth-child(3),
    &:nth-child(4) {
      flex: 1 1 50%;
    }
    &:hover {
      .portfolio__content {
        opacity: 1;
      }
    }
  }
  &__background {
    @extend .center-flex;
    @extend .expand-element;
    position: relative;
    transition: all .5s;
    &:hover {
      background: rgba(0, 0, 0, 0.8);
    }
  }
  &__content {
    text-align: center;
    width: 60%;
    transition: all .5s;
    color: white;
    opacity: 0;
  }
}

// remove padding from single-portfolio second section
.single-portfolio {
  .portfolio {
    padding-top: 0;
  }
}

// link is getting added twice so have to select 1st only
.portfolio__background > .portfolio__link {
  @extend .expand-element;
  position: absolute;
}

#toggle-text {
    position: absolute;
    left: 0%;
    bottom: 31px;
    color: $white;
}
