.portfolio {
  display: flex;
  flex-wrap: wrap;
  &__content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    h2,
    hr,
    .button {
      transition: all .5s;
      color: white;
      opacity: 0;
    }
  }

  &__link {
    display: block;
    height: 100%;
    transition: all .5s;
    text-decoration: none;
  }

  &__item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex: 1 1 25%;
    height: 50vh;
    position: relative;
    &:nth-child(3),
    &:nth-child(4) {
      flex: 1 1 50%;
    }
    &:hover {
      h2,
      hr,
      .button {
        opacity: 1;
      }
    }
    &:hover > .portfolio__link {
        background: rgba(0, 0, 0, 0.8);
    }


  }
}
