.team-4 {
  padding: 5rem 0; }
  .team-4 h3 {
    margin-bottom: 0; }
  .team-4 .col-team {
    padding-top: 2rem;
    padding-bottom: 2rem; }
    .team-4 .col-team img {
      margin: 0; }
    .team-4 .col-team figure {
      position: relative;
      display: inline-block;
      margin-bottom: 1.5rem; }
    

.content-1, .content-2, .content-4, .content-5 {
  background: #fff;
  padding-bottom: 0.1rem; }
  .content-1 .container, .content-2 .container, .content-4 .container, .content-5 .container {
    margin: 5rem auto; }
  .content-1 .full-width, .content-2 .full-width, .content-4 .full-width, .content-5 .full-width {
    width: 100%; }