.home .col-gallery {
  display: flex;
}

.blog-feature {
  transition: all .5s ease-in-out;
  background-size: 100% !important;
}

.blog-feature:hover {
    background-size: 110% !important;
 } 

.testimonial-item .carousel-caption {
  position: relative;
}

.testimonial-item blockquote p {
    font-size: 1.8rem;
    font-weight: 300;
    font-style: italic;
    color: #fff;
}

.end {
  margin-top: auto;
}

.cover-inner {
  display: table-cell;
  vertical-align: middle; }

.cover-1 {
  background-size: cover;
  min-height: 50rem;
  height: 100vh;
  border-radius: 0;
  width: 100%;
  color: #fff;
  padding-top: 1rem; }
  .cover-1 h1 {
    font-weight: 200; }
  .cover-1 p.lead {
    margin: 2rem auto;
    color: rgba(255, 255, 255, 0.75); }
  .cover-1 .cover-container {
    display: table;
    height: 100%;
    min-height: 44rem;
    margin: 0 auto; }

.gallery-4 {
  background: $secondary-background;
  padding: 5rem 0; }
  .gallery-4 .container-fluid {
    padding-right: 0;
    padding-left: 0; }
  .gallery-4 .box {
    background: #fff;
    box-shadow: 0 0.2rem 2rem rgba(0, 0, 0, 0.05);
    padding: 0rem;
    padding-bottom: 1rem;
    margin-bottom: 0rem;
    border-radius: .3rem;
    justify-content: flex-start;
    flex-direction: column;
    display: flex; }
  .gallery-4 .col-gallery {
    margin-top: 2rem;
    margin-bottom: 0rem; }
    .gallery-4 .col-gallery img {
      width: 100%;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0; }

.features-4 {
  background: $secondary-color;
  padding: 5rem 0; }
  .features-4 h2 {
    margin-top: 2rem;
    color: #fff; }
  .features-4 p.lead {
    color: $para-color-1; }
  .features-4 .col-feature {
    padding-top: 2rem;
    padding-bottom: 2rem; }
    .features-4 .col-feature h4 {
      color: #fff; }
    .features-4 .col-feature p {
      color: $para-color-1; }
    .features-4 .col-feature .rounded-circle {
      margin: 0 auto;
      margin-bottom: 2rem;
      width: 6rem;
      height: 6rem;
      background: none;
      border: 0.15rem solid $para-color-1;
      color: #fff; }

.testimonial-4 {
  padding: 8rem 0;
  background: #2b2d34 url(../images/cover-bg-3.jpg) center;
  background-size: cover; }
  .testimonial-4 .quote-text {
    font-size: 1.8rem;
    font-weight: 300;
    font-style: italic;
    color: #fff; }
  .testimonial-4 .quote-icon {
    color: rgba(255, 255, 255, 0.1); }
  .testimonial-4 .quote-author {
    font-style: italic;
    font-family: "Droid Serif", Times, Georgia, serif;
    color: rgba(255, 255, 255, 0.8); }

.cta-1 {
background: $secondary-color;
color: #fff;
padding: 5rem 0; }
.cta-1 p {
  color: rgba(255, 255, 255, 0.75); }
.cta-1 form.subscribe {
  margin: 0 auto; }
.cta-1 .btn {
  width: 100%; }

.cta-4 {
  background: #2b2d34 url(../images/cover-bg-3.jpg) center;
  background: #2b2d34;
  background-size: cover;
  color: #fff;
  padding: 5rem 0;
  min-height: 50rem; }
  .cta-4 p {
    color: rgba(255, 255, 255, 0.75); }
  .cta-4 .form-control-custom {
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: #fff; }
  .cta-4 .form-control-custom:focus {
    border: none;
    background: rgba(255, 255, 255, 0.3);
    color: #fff; }