#menu-main-menu li {
  padding-right: 15px;
  text-transform: capitalize;
  a {
    color: #fff;
  }
}

.home .navbar-custom {
  position: absolute;
  width: 100%;
  background: transparent;
  z-index: 1; }

.navbar-custom {
  background: #000;
}

a.navbar-brand, a.logo {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff !important;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0; }

a.logo:hover, a.logo:active, a.logo:focus {
  text-decoration: none; }

li.nav-item .btn {
  margin-top: .2rem;
  margin-left: .4rem; }
li.nav-item .btn-white {
  color: #46484a; }