/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Anton|Kaushan+Script");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* =======================================================================
## ++ Globals
========================================================================== */
html {
  font-size: 100%; }

body {
  -webkit-font-smoothing: antialiased;
  background: #fff;
  font-family: 'Anton', sans-serif !important;
  line-height: 1.6; }

* {
  box-sizing: border-box; }

.social {
  text-align: center; }
  .social a {
    padding: 6px;
    border-radius: 50%;
    display: inline-block;
    border: 1px white solid;
    margin-left: 5px; }
  .social i {
    width: 35px;
    height: 35px;
    color: #fff;
    font-size: 1.3em;
    padding: 7px; }

.expand, .navbar__nav a, .side-menu__list a, .cover__catergory-list a, .portfolio__content .button, .portfolio__content .button__primary {
  position: relative;
  text-decoration: none;
  display: inline-block;
  border-bottom: solid 2px transparent; }

.expand:after, .navbar__nav a:after, .side-menu__list a:after, .cover__catergory-list a:after, .portfolio__content .button:after, .portfolio__content .button__primary:after {
  display: block;
  content: '';
  border-bottom: solid 2px #fff;
  transform: scaleX(0);
  transition: transform .35s ease-in-out;
  transform-origin: 100% 50%; }

.expand:hover:after, .navbar__nav a:hover:after, .side-menu__list a:hover:after, .cover__catergory-list a:hover:after, .portfolio__content .button:hover:after, .portfolio__content .button__primary:hover:after {
  transform: scaleX(1);
  transform-origin: 0 50%; }

.current-menu-item a {
  position: relative;
  text-decoration: none;
  display: inline-block; }

.current-menu-item a::after {
  display: block;
  content: '';
  border-bottom: solid 2px #fff;
  transform: scaleX(1);
  transform-origin: 0 50%; }

/* =======================================================================
## ++ Cleafix
========================================================================== */
/* float clearing for IE6 */
* html .clearfix {
  height: 1%;
  overflow: visible; }

/* float clearing for IE7 */
* + html .clearfix {
  min-height: 1%; }

/* float clearing for everyone else */
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0; }

.clr {
  clear: both; }

/* bootstrap stylesheets grid only*/
.navbar {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 20px;
  padding: 0 20px;
  min-height: 50px;
  background: black;
  align-items: center;
  z-index: 999; }
  .navbar__brand a {
    text-decoration: none;
    color: #fff;
    font-family: "Kaushan Script", cursive;
    font-size: 2em; }
  .navbar__nav {
    list-style: none;
    padding: 0;
    margin: 0; }
    .navbar__nav li {
      display: inline-block; }
    .navbar__nav a {
      display: block;
      padding: 0 10px;
      color: #fff;
      font-size: 1.2em;
      text-decoration: none;
      text-transform: uppercase; }

.home .navbar {
  position: absolute;
  background: transparent; }

.button, .button__primary {
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: color 0.15s ease-in-out;
  text-decoration: none; }
  .button__primary {
    color: #fff;
    background: #17505B; }

.slick-slide h2 {
  opacity: 1 !important; }

.slick-next, .slick-prev {
  z-index: 999;
  background: rgba(0, 0, 0, 0.3) !important;
  transition: all .5s ease;
  padding: 40px; }

.slick-next:hover, .slick-prev:hover {
  background: rgba(0, 0, 0, 0.9) !important; }

.slick-prev {
  left: 0; }
  .slick-prev::before {
    content: '<'; }

.slick-next {
  right: 0px; }
  .slick-next::before {
    content: '>'; }

.slick-prev::before, .slick-next::before {
  line-height: 0;
  font-weight: bold;
  font-size: 30px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

.slider {
  max-width: 100%; }
  .slider-item {
    height: auto;
    background-size: cover !important;
    background-position: center center;
    display: flex !important;
    justify-content: center;
    align-items: center;
    justify-content: center;
    min-height: 700px; }
    @media (min-width: 991px) {
      .slider-item {
        height: calc(100vh - 50px) !important; } }

.page-template-page-php .navbar {
  background: transparent; }
  .page-template-page-php .navbar li a {
    color: #000; }

.split-layout {
  display: flex;
  min-height: 100vh; }
  .split-layout__feature-image {
    height: 100vh;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; }
    .split-layout__feature-image h1 {
      color: #fff;
      font-family: "Kaushan Script", cursive;
      font-size: 6em;
      font-style: italic;
      border-bottom: 4px solid white;
      padding-bottom: 20px;
      text-shadow: 1px 1px #666; }
  .split-layout__content-wrap {
    width: 100%;
    padding-left: 40%; }
  .split-layout__content {
    max-width: 65%;
    margin-top: 30%;
    padding: 0 2.5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4em; }
  .split-layout__heading {
    text-align: center; }
    .split-layout__heading .social {
      margin-top: 1em; }
  .split-layout__footer {
    position: fixed;
    bottom: 5px;
    right: 10px; }
    .split-layout__footer .copyright {
      text-align: right; }

.side-menu__container {
  background: #000; }
.side-menu__navbar {
  width: 300px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background: black; }
.side-menu__list {
  position: fixed;
  padding: 0; }
  .side-menu__list li {
    padding: 8px; }
  .side-menu__list a {
    font-size: 1.5em;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff; }
.side-menu__content {
  background: #fff;
  min-height: calc(100vh - 50px);
  padding-left: 300px;
  padding-top: 50px; }

.cover {
  background-image: url(../images/feature.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .cover__content {
    text-align: center; }
  .cover__name {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 2px;
    text-shadow: 1px 1px #666; }
  .cover__title {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 4.5em;
    letter-spacing: 4px;
    text-shadow: 1px 1px #666; }
  .cover__catergory-list a {
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
    text-transform: uppercase;
    text-shadow: 1px 1px #666; }
  .cover__footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%; }

.home .social {
  padding: 10px; }

.portfolio {
  display: flex;
  flex-wrap: wrap; }
  .portfolio__content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    .portfolio__content h2,
    .portfolio__content hr,
    .portfolio__content .button,
    .portfolio__content .button__primary {
      transition: all .5s;
      color: white;
      opacity: 0; }
  .portfolio__link {
    display: block;
    height: 100%;
    transition: all .5s;
    text-decoration: none; }
  .portfolio__item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex: 1 1 25%;
    height: calc(50vh - 25px);
    position: relative; }
    .portfolio__item:nth-child(3), .portfolio__item:nth-child(4) {
      flex: 1 1 50%; }
    .portfolio__item:hover h2,
    .portfolio__item:hover hr,
    .portfolio__item:hover .button,
    .portfolio__item:hover .button__primary {
      opacity: 1; }
    .portfolio__item:hover > .portfolio__link {
      background: rgba(0, 0, 0, 0.8); }
  .portfolio .portfolio__item-featured {
    height: calc(100vh - 50px);
    width: 100%;
    display: flex;
    align-items: center; }
    .portfolio .portfolio__item-featured h2 {
      opacity: 1; }
    .portfolio .portfolio__item-featured .portfolio__content {
      position: unset;
      left: unset;
      top: unset;
      transform: unset;
      text-align: unset;
      max-width: 50%;
      margin-top: 50px;
      margin-left: 60px; }

.single-portfolio .portfolio {
  padding-top: 0; }

.page-template-page-services .navbar {
  background: transparent; }

/*# sourceMappingURL=app.css.map */
