.title__sub {
  color: #fff;
  line-height: 1;
  font-size: 3.5em;
  font-family: "Kaushan Script", cursive;
  text-shadow: 1px 1px $text-shadow;
}
.title__main {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 4.5em;
  letter-spacing: 4px;
  text-shadow: 1px 1px $text-shadow;
}
.title__page-header {
  color: #a8a8a880; // add Variables
  font-family: "Kaushan Script", cursive;
  font-size: 5.5em;
  line-height: 1.3;
  text-shadow: 1px 1px #ffffff1a;
}
