.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.expand-element {
  height: 100%;
  width: 100%;
}
