//
// Variables
// --------------------------------------------------

//== Colors
$eden: #17505B;
$olivedrab: #75b808;
$dimgray: #767676;
$gallery: #eee;
$tundora: #424242;
$white: #fff;
$black: #000;

$color-primary: $eden;
$color-secondary: $olivedrab;

//== Text Colours
$text-color-primary: $dimgray;
$text-color-secondary: $white;
$text-color-header: $color-primary;



//== Background Colours
$background-primary: $dimgray;
$background-secondary: $tundora;


//== Fonts
$font-family-primary: 'Roboto Slab', serif;
$font-family-secondary: 'Roboto Slab', serif;

// 'Roboto Slab', normal, 30px, 39px, #17505b;
// 'Roboto Slab', normal, 24px, 31px, #17505b;
// 'Roboto Slab', normal, 14px, #767676;
