// Fonts
@import url('https://fonts.googleapis.com/css?family=Anton|Kaushan+Script');

//
// Variables
// --------------------------------------------------

// background: #e1e1e1;
//== Colors
$dimgray: #767676;
$gallery: #eee;
$tundora: #424242;
$white: #fff;
$black: #000;

$color-primary: $black;
$color-secondary: $white;

//== Text Colours
$text-color-primary: $dimgray;
$text-color-secondary: $white;
$text-color-header: $color-primary;

$text-shadow: #666;

//== Background Colours
$background-primary: $black;
$background-secondary: $white;

//border-radius
$boarder-radius: 3px;

//== Fonts
$font-family-primary: 'Anton', sans-serif;
$font-family-secondary: 'Kaushan Script', cursive;
